<header class="bg-zinc-900 flex flex-col md:flex-row p-20 gap-3 text-center md:text-left rounded-xl">
    <div>
        <h1 class="text-5xl font-bold">Protect your password</h1>
        <p class="my-4 text-2x1">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore numquam architecto corporis veniam, nesciunt repudiandae eaque dolores in beatae expedita at porro nisi ipsum cumque. Non recusandae tempora dicta culpa?</p>
        <button class="bg-indigo-500 px-3 py-2 hover:bg-indigo-400"> Start now</button>
    </div>
    <img src="images/fingerprint.svg" alt="" class="w-80" />
</header>
